<header>
    <nav class="navbar navbar-expand-md navbar-success bg-success">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <div>
                      <h2 style="font-family:Verdana;">Roulette</h2>
                    </div>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto" style="padding:5px;background:white;margin-right: 10px;">
              <li class="nav-item" >
                  Welcome {{customer?.customerName}}!!
                  <br>
                  You have Rs {{initialBalance}}
              </li>                
          </ul>
          <ul class="navbar-nav">
          <li><input type="button" class="btn btn-light" value="Exit" (click)="logout()"></li>
        </ul>
        </div>
    </nav>
</header>